# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual muhit
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
*.log

# Maxfiy sozlamalar
.env

# Muharrir / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# make_resume --html-only chiqishi
cv-*.html
